---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-machine-learning/resources/bANLa) course resource._

---

  A simple classification task

### Import required modules and load data file

In [32]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
# Loading the dataset
ads_data = pd.read_csv('Social_Network_Ads.csv')

In [33]:
# Replacing Male with 1 and Female with 0
ads_data.Gender.replace(['Male', 'Female'], [1, 0], inplace=True)
ads_data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

### Create train-test split

In [35]:
X = ads_data[['Gender', 'Age', 'EstimatedSalary']]
y = ads_data['Purchased']

# default is 75% / 25% train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

### Create classifier object

In [36]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 5)

### Train the classifier (fit the estimator) using the training data

In [37]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

### Estimate the accuracy of the classifier on future data, using the test data

In [38]:
knn.score(X_test, y_test)

0.82999999999999996

### Use the trained k-NN classifier model to classify new, previously unseen objects

In [39]:
# first example: a Male of age 22 and salary 50000
ads_prediction = knn.predict([[1, 22, 50000]])
ads_prediction[0]

0

In [41]:
# second example: a Female of age 50 and salary 20000
ads_prediction = knn.predict([[0, 50, 20000]])
ads_prediction[0]

1